td {font-family: "Courier New";
border-spacing:0;
-webkit-border-horizontal-spacing: 0;
vertical-align: baseline;
font-size: 100%;
border-collapse: none;
border: 3px solid lightgrey;
}

td {
font-family: "Courier New";
font-size: 100%;
width:15px;
height:15px;
}
body { background-color: white;}
/*table { cursor: pointer; }*/
table { cursor: url("spray-can.png"), auto; }
.dabbed{}
iframe { width:380px;height:120px;}
.bonusProgress {}
.paintProgress{}
