td {font-family: "Courier New";
border-spacing:0;
-webkit-border-horizontal-spacing: 0;
vertical-align: baseline;
font-size: 100%;
border-collapse: none;
border: 3px solid lightgrey;
}

td {
font-family: "Courier New";
font-size: 100%;
width:15px;
height:15px;
}
body { background-color: white; font-family:Georgia,serif;}
button,label{font-family:Georgia,serif;}
/*table { cursor: pointer; }*/
table { cursor: url("spray-can.png"), auto; }
.dabbed{}
iframe { width:380px;height:130px; }
.bonusProgress {}
.paintProgress{}
button.win,button.lose,button.bingo{
    border-radius:14px;
    background-color:#ececec;
    border: 2px solid #4b4b4b;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:14px;
    padding-right:14px;
    margin-left:2px;
    -webkit-appearance: none;
    border-style: solid;
}

button.win:disabled,button.lose:disabled{
    background-color:#f5f5f5;
    color: #848484;
}
.deactivated{
    color: #848484;
}
.activated{
    color:black;
}

button.win:focus,button.lose:focus,button.bingo:focus{
    outline: none;
    box-shadow: none;
}
a.bigletter{font-size:32px/*26px;font-family:serif*/;color:#64626B}
a.bigletter2{font-size:24px/*26px;font-family:serif*/;color:#64626B}
h1{font-size:18px;color:#9A9A9F;font-weight:bold;}
h2{font-size:14px;color:#9A9A9F;font-weight:bold;}
a.bigb{color:#71C6F4;font-size:32px}/*#5BB2E0*/
a.bigi{color:#EA99EA;font-size:32px}
a.bign{color:#71C6F4;font-size:32px}
a.bigg{color:#EA99EA;font-size:32px}
a.bigo{color:#71C6F4;font-size:32px}
button.bingo{background-color:black;border-radius:36px;border:2px solid #9A9A9F;}
